# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
Homestead.yaml
Homestead.json

# Laravel IDE helper / debug
.phpunit.result.cache
.phpunit.cache
.phpunit.coverage.cache

# Logs and compiled files
/storage/logs/*.log
/storage/framework/cache/data/*
/bootstrap/cache/*.php

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Docker
docker-compose.override.yml
