services:

  app:
    build: .
    container_name: KarawangiSejahtera-app
    restart: unless-stopped
    working_dir: /var/www/html
    user: "${UID}:${GID}"
    volumes:
      - .:/var/www/html
    ports:
      - "8000:80" # Laravel
      - "5173:5173" # Vite
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret
  
  db:
    image: mysql:8.0
    container_name: KarawangiSejahtera-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
   image: phpmyadmin:latest
   container_name: KarawangiSejahtera-phpmyadmin
   restart: unless-stopped
   ports:
    - "8080:80"
   environment:
     PMA_HOST: db
     PMA_USER: root
     PMA_PASSWORD: root

volumes:
  db_data:
