# Ignore git files
.git
.gitignore

# Ignore node_modules and vendor (rebuild inside container)
node_modules
vendor

# Ignore local environment
.env
.env.*.backup

# Logs and cache
storage/*.log
bootstrap/cache/*.php
